<div class="signup-container flex flex-col items-center justify-center h-full gap-y-4">
    <div class="signup-title flex items-center gap-x-2">
        <app-icon-svg iconName="logo" width="28" height="28" color="var(--ring)"></app-icon-svg>
        <span class="text-lg font-semibold">Naelytics</span>
    </div>
    <p class="signup-subtitle text-sm">Simple, privacy-friendly analytics</p>
    <div class="signup-card rounded-xl p-4">
        <div class="signup-desc mb-6 space-y-1.5 text-center pt-6">
            <h1 class="text-xl font-semibold">Créez votre compte</h1>
            <p class="text-sm">Commencez à suivre vos sites en quelques minutes</p>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" class="signup-form flex flex-col gap-4 w-full">
            <div class="flex flex-col gap-1">
                <label class="font-medium text-sm" for="email">Email</label>
                <input 
                pInputText
                fluid
                type="email"
                id="email"
                placeholder="you@gmail.com"
                formControlName="email"
                [invalid]="isInvalid('email')" />
                @if (signupForm.controls.email.touched && signupForm.controls.email.invalid) {
                <p class="error-message text-red-400">
                    {{ getErrorMessage('email') }}
                </p>
                }
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-medium text-sm" for="password">Mot de passe</label>
                <p-password 
                fluid
                formControlName="password"
                [toggleMask]="true"
                promptLabel="Choisissez un mot de passe"
                [strongRegex]="STRONG_PASSWORD_REGEX"
                weakLabel="Faible"
                mediumLabel="Moyen" 
                strongLabel="Fort"
                autocomplete="off"
                [invalid]="isInvalid('password')"
                (onBlur)="checkMatchingPassword()"/>
                @if (signupForm.controls.password.touched && signupForm.controls.password.invalid) {
                <p class="error-message text-red-400">
                    {{ getErrorMessage('password') }}
                </p>
                }
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-medium text-sm" for="^confirmPassword">Confirmation du mot de passe</label>
                <p-password 
                fluid
                formControlName="confirmPassword"
                [toggleMask]="true"
                promptLabel="Confirmez votre mot de passe"
                weakLabel="Faible"
                mediumLabel="Moyen" 
                strongLabel="Fort"
                autocomplete="off"
                [invalid]="isInvalid('confirmPassword')"
                (onBlur)="checkMatchingPassword()"/>
                @if (signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid) {
                <p class="error-message text-red-400">
                    {{ getErrorMessage('confirmPassword') }}
                </p>
                }
            </div>
            <button 
            pButton
            [loading]="isPending()"
            severity="secondary" 
            type="submit"
            class="font-medium py-2"
            ><span pButtonLabel>S'inscrire</span></button>
        </form>
    </div>
    <div class="signin text-sm">
        Vous avez déjà un compte ? <a routerLink="/signin" class="signin-link font-medium">Connectez-vous</a>
    </div>
</div>